{% extends "base.html" %}
{% block content %}
<!-- START PANEL-->
{% for data in d %}
<div class="row col-lg-10">
	<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">{{data.month}}</h3>
				<div class="right">
					<button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
					<button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
				</div>
			</div>
		<div class="panel-body no-padding bg-primary text-center">
			<div class="padding-top-30 padding-bottom-30">
<!-- 			<i class="fa fa-thumbs-o-up fa-5x"></i>-->
				<!-- <h3>No Content Padding</h3> -->
				<h3>{{data.details}}</h3>
			</div>
		</div>
	</div>	
</div>
{% endfor %}
<!-- END PANEL -->

{% endblock %}
{% block name %}
<span> {{username}} </span>
{% endblock %}